snippet seqmig "Sequel migration up/down" b
Sequel.migration do
  up do
    $1
  end
  down do
    $2
  end
end
endsnippet

snippet seqmig "Sequel migration change" b
Sequel.migration do
  change do
    $1
  end
end
endsnippet

snippet apg "awesome print" b
ap [${1:pg.uri.to_s}, $2]
endsnippet
